<div class="servicesUsers form">
<?php echo $this->Form->create('ServicesUser'); ?>
	<fieldset>
		<legend><?php echo __('Add Services User'); ?></legend>
	<?php
		echo $this->Form->input('user_id');
		echo $this->Form->input('service_id');
		echo $this->Form->input('reservationdate');
		echo $this->Form->input('reservationhour');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Services Users'), array('action' => 'index')); ?></li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Services'), array('controller' => 'services', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Service'), array('controller' => 'services', 'action' => 'add')); ?> </li>
	</ul>
</div>
