<div class="servicesUsers index">
	<h2><?php echo __('Services Users'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('service_id'); ?></th>
			<th><?php echo $this->Paginator->sort('reservationdate'); ?></th>
			<th><?php echo $this->Paginator->sort('reservationhour'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($servicesUsers as $servicesUser): ?>
	<tr>
		<td><?php echo h($servicesUser['ServicesUser']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($servicesUser['User']['id'], array('controller' => 'users', 'action' => 'view', $servicesUser['User']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($servicesUser['Service']['name'], array('controller' => 'services', 'action' => 'view', $servicesUser['Service']['id'])); ?>
		</td>
		<td><?php echo h($servicesUser['ServicesUser']['reservationdate']); ?>&nbsp;</td>
		<td><?php echo h($servicesUser['ServicesUser']['reservationhour']); ?>&nbsp;</td>
		<td><?php echo h($servicesUser['ServicesUser']['created']); ?>&nbsp;</td>
		<td><?php echo h($servicesUser['ServicesUser']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $servicesUser['ServicesUser']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $servicesUser['ServicesUser']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $servicesUser['ServicesUser']['id']), null, __('Are you sure you want to delete # %s?', $servicesUser['ServicesUser']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Services User'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Services'), array('controller' => 'services', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Service'), array('controller' => 'services', 'action' => 'add')); ?> </li>
	</ul>
</div>
